<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - Giftora</title>
    <link rel="stylesheet" href="/css/user/page-404.css">
</head>

<body>


    <!-- Breadcrumb -->
    <div class="breadcrumb">
        <a href="#">Home</a> / 404 Error
    </div>

    <!-- Main content -->
    <main class="main-content">
        <h1 class="error-title">404 Not Found</h1>
        <p class="error-message">Your visited page not found. You may go home page.</p>
        <a href="/" class="back-btn">Back to home page</a>
    </main>